@import url("https://fonts.googleapis.com/css?family=Roboto|Sen:400,700,800&display=swap");

$color-background: #D2DBDD;
$color-primary: #152536;

body{
    background-color: $color-background;
    font-family: 'Roboto', sans-serif;
    
}
a{
    color: inherit; 
} 

h1, h2, h3, h4, h5, label{
    font-family: 'Sen', sans-serif;
    color: $color-primary;
}

h1{
    color: white;
    font-weight: 700;
    font-size: 1.8rem;
    margin: 0;
}

h3{
    font-weight: 700;
    margin-bottom: 2rem;
}

h4{
    font-family: 'Sen', sans-serif;
    font-weight: 800;
    font-size: 1.6rem;
}

h5{
    font-weight: 700;
    color: rgb(187, 187, 187);
    font-size: 1rem;
}
p{
    color: rgba(0, 0, 0, 0.6);
}

.pre-user{
    font-family: 'Sen', sans-serif;
    color: rgb(187, 187, 187);
    font-weight: normal;
    font-size: 0.9rem;
    margin: 0;
}


.date{
    font-family: 'Sen', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.75);
    margin: 0;
}
.kr-col{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn{
    font-family: 'Sen', sans-serif;
    background: $color-primary;
    color: white;
    font-weight: 700;
    outline: none;
    transition: 0.4s ease;
    margin-bottom: 1.5rem;
}

.btn:hover{
    box-shadow: 0 0px 20px 0px rgba(0,0,0,0.6);
    color: white;
}

.card{
    box-shadow: 0 15px 30px rgba(0,0,0,0.25);
    cursor: pointer;
    padding: 2rem;
    margin-bottom: 2rem;
    .btn{
        padding: 1.5rem;
        font-size: 1.5rem;
    }
}

@media (max-width: 768px){
    .kr-col{
        flex-direction: row;
        justify-content: space-between;
    }
    .btn{
        margin-bottom: 0;
    }
    .card .btn{
        padding: 1rem;
        font-size: 1.2rem;
        margin-top: 1rem;
    }
}




.modify {
font-size: 1.1rem;
color: grey;
    a{
    display: flex-end;
    color: grey;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.link-right{
    margin: 0  1rem;
}
}

.modify a:hover{
    color: black;
}

.url{
    font-family: 'Sen', sans-serif;
    color: rgb(61, 61, 61);
    font-weight: normal;
    font-size: 0.8rem;
    margin: 0;
}


.nav-link{
    display: flex;
}
.icon{
    height: 1.2rem;
    color: white;
    margin: 0.1rem 0.5rem 0 0.1rem;
}
.navbar{
    background: #152536;
}

.nav-text{
    color: white;
    font-family: 'Sen', sans-serif;
    font-weight: 700;

}

.show{
    display: none;
}
.navbar-brand{
    text-transform: normal;
    font-weight: 800;
    letter-spacing: 0.1rem;
    font-size: 1.25rem;
    opacity: 1;
}
.navbar-collapse{
    display: flex;
    justify-content: flex-start;
}

@media (max-width: 768px){
    .navbar-collapse{
        justify-content: flex-start;
    }

    .hide{
        display: none;
    }

    .show{
        display: block;
    }

}






.page-footer{
    border-top: 4px solid $color-primary;
    h5{ 
        color: $color-primary;
    }
    .footer-copyright{
        font-family: 'Sen', sans-serif;
        font-weight: bold;
        background: $color-primary;
        color: white;
        a{
            color: white;
        }
    }
}

.form-group{
    
    label{
        font-weight: 700;
        color: $color-primary;
        font-size: 1rem;
    }    
    
}

.form-group input, .form-group select{
    transition: 0.3s ease;
   
}
.form-group input:focus, .form-group select:focus{
    outline: none;
    border: none;
    box-shadow: 0px 15px 10px -15px rgba(0,0,0,0.2);
}

.alert-post:hover{
    color: inherit;
    text-decoration: none;
}

.flexer{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.my-navbar{
    width: 100vw;
    height: 100px;
    background: $color-primary;

}

ul{
    display: flex;
    margin: 0;
    padding: 0;
}
.brand{
    width: 220px;
}


@media (max-width: 768px){
    .brand{
        margin-top: 1rem;
        width: 50%;
        opacity: 0.8;
    }
    .flexer{
        flex-direction: column;
        justify-content: space-evenly;
    }
}

.titles{
    text-align: center;
}

.knowrona{
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}


.introcard{
    margin: 2rem auto 3rem auto ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 90%;
    background: #4B79A1;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 20px;
    box-shadow: 0px 60px 30px -40px rgba(0, 0, 0, 0.4);
    h1{
        font-size: 2rem;
    }
}


@media(max-width: 768px){
    .introcard{
        height: 40vh;
        h1{
            font-size: 1.55rem;
        }
        .centered{
            height: 180px;
            margin: 0 4rem;
        }
        .btn{
           
        }
    }
}


.centered{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    .btn{
        align-self: center;
        padding: 1.5rem 1.2rem;
    }
} 



